<!-- ADD QUESTION PAGE -->
{% extends "layout/base.html" %}
{% block content %}

<!-- main heading -->
<header>
    <div class="p-5 text-center main-heading container">
        <div class="d-flex justify-content-center col-12">
            <h2 class="text-center p-2">Add Question</h2> 
            <i class="fas fa-plus icon-lg px-3"></i>
        </div>
    </div>
</header>

<!-- add question to: quiz_title section -->

<!-- add question form section -->
<section class="add-question-wrapper wrapper
    container-lg my-5 p-0"
>
    <form  
        id="add-question-form"
        method="POST"
        action="{{ url_for('add_question', new_quiz_id=new_quiz_id) }}"
        novalidate
    >
        <!-- question textarea input -->
        <div class="d-flex row mb-3 justify-content-center">
            <div class="col-12 col-md-8">
                <div class="form-outline">
                    <textarea name="new_question_text" id="new_question_text" 
                        maxlength="200" rows="4"
                        class="form-control form-control-lg" required
                    >
                    </textarea>
                    <label for="new_question_text" class="form-label">
                        Question text
                    </label>
                    <div class="invalid-feedback">
                        Enter a question less than 200 characters
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!-- add answers wrapper -->
        <div class="d-flex row justify-content-center align-items-center">
            <!-- answer 1 text input -->
            <div class="d-flex col-8 col-lg-6 align-items-center mb-3">
                <div class="form-outline w-100">
                    <input name="answer_1" id="answer_1" type="text" 
                         maxlength="30" pattern="^[a-zA-Z0-9]{5,20}$" 
                        class="form-control form-control-lg" required
                    />
                    <label for="answer_1" class="form-label">Answer option 1</label>
                    <div class="invalid-feedback">
                        Answer must be less than 30 characters
                    </div>
                </div>
                <!-- answer 1 radio button -->
                <div class="d-flex align-items-center p-3">
                    <input type="radio" id="correct_answer_1" name="correct_answer" value="0" required>
                </div>
            </div>
        
            <!-- answer 2 text input -->
            <div class="d-flex col-8 col-lg-6 align-items-center mb-3">
                <div class="form-outline w-100">
                    <input name="answer_2" id="answer_2" type="text" 
                        maxlength="30" pattern="^[a-zA-Z0-9]{5,20}$" 
                        class="form-control form-control-lg" required
                    />
                    <label for="answer_2" class="form-label">Answer option 2</label>
                    <div class="invalid-feedback">
                        Answer must be less than 30 characters
                    </div>
                </div>
                <!-- answer 2 radio button -->
                <div class="d-flex align-items-center p-3">
                    <input type="radio" id="correct_answer_2" name="correct_answer" value="1" required>
                </div>
            </div>
            <!-- answer 3 text input -->
            <div class="d-flex col-8 col-lg-6 align-items-center mb-3">
                <div class="form-outline w-100">
                    <input name="answer_3" id="answer_3" type="text" 
                        maxlength="30" pattern="^[a-zA-Z0-9]{5,20}$" 
                        class="form-control form-control-lg" required
                    />
                    <label for="answer_3" class="form-label">Answer option 3</label>
                    <div class="invalid-feedback">
                        Answer must be less than 30 characters
                    </div>
                </div>
                <!-- answer 3 radio button -->
                <div class="d-flex align-items-center p-3">
                    <input type="radio" id="correct_answer_3" name="correct_answer" value="2" required>
                </div>
            </div>
            <!-- answer 4 text input -->
            <div class="d-flex col-8 col-lg-6 align-items-center mb-3">
                <div class="form-outline w-100">
                    <input name="answer_4" id="answer_4" type="text" 
                        maxlength="30" pattern="^[a-zA-Z0-9]{5,20}$" 
                        class="form-control form-control-lg" required
                    />
                    <label for="answer_4" class="form-label">Answer option 4</label>
                    <div class="invalid-feedback">
                        Answer must be less than 30 characters
                    </div>
                </div>
                <!-- answer 3 radio button -->
                <div class="d-flex align-items-center p-3">
                    <input type="radio" id="correct_answer_4" name="correct_answer" value="3" required>
                </div>
            </div>
        </div>
        <!-- submit -->
        <div class="row mt-5 d-flex justify-content-center align-items-center">
            <div class="col-12 d-flex justify-content-center align-items-center mb-2">
                <button type="submit" class="btn btn-rounded cta m-2 d-flex align-items-center">
                    <i class="fas fa-plus-circle icon-med"></i>
                    Add Question
                </button>
                <a href="{{ url_for('delete_quiz', delete_quiz_id=new_quiz_id ) }}" 
                    type="button" class="btn btn-link" data-mdb-ripple-color="dark"
                >
                    Discard Quiz
                </a>
            </div>
        </div>
    </form>
</section>



{% endblock %}