<!-- CREATE QUIZ PAGE -->
{% extends "layout/base.html" %}
{% block content %}

<!-- main heading -->
<header>
    <div class="p-5 text-center main-heading container">
        <div class="d-flex justify-content-center col-12">
            <h2 class="text-center p-2">Create Quiz</h2> 
            <i class="fas fa-hammer icon-lg px-3"></i>
        </div>
    </div>
</header>

<!-- create-quiz form section -->
<section class="create-quiz-wrapper wrapper
    container-lg my-5 p-0"
>
    <form  
        id="create-quiz-form"
        method="POST"
        action="{{ url_for('create_quiz') }}"
        class="summary-data-wrapper 
            d-flex flex-column
            flex-lg-row"
        novalidate
    >
        <!-- create-quiz title text input -->
        <div class="d-flex align-items-center col-12 col-lg-4 mb-3">
            <i class="fas fa-tag icon-sm col-2 col-md-1 col-lg-2 text-center"></i>
            <div class="d-flex col-8 col-md-5 col-lg-9">
                <div class="form-outline w-100">
                    <input id="create-quiz-title" name="create_quiz_title" type="text" 
                        min-length="3" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" 
                        class="form-control form-control-lg" required
                    />
                    <label for="create-quiz-title" class="form-label">Title</label>
                    <div class="invalid-feedback">
                        Choose a 3-20 character alphanumeric title
                    </div>
                </div>
            </div>
        </div>
        <!-- create-quiz category select input -->
        <div class="d-flex align-items-center col-12 col-lg-4 mb-3">
            <i class="fas fa-folder-open icon-sm col-2 col-md-1 col-lg-2 text-center"></i>
            <div class="d-flex col-8 col-md-5 col-lg-9">
                <select id="create-quiz-category" 
                    name="create_quiz_category"
                    class="form-select" required
                >
                    <option value="" disabled selected>Choose category</option>
                    {% for category in all_categories %}
                        <option value="{{ category._id }}">
                            {{ category.category_name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- create-quiz age-range select input -->
        <div class="d-flex align-items-center col-12 col-lg-4 mb-3">
            <i class="fas fa-users icon-sm col-2 col-md-1 col-lg-2 text-center"></i>
            <div class="d-flex col-8 col-md-5 col-lg-9">
                <select id="create-quiz-age-range" 
                    name="create_quiz_age_range"
                    class="form-select" required
                >
                    <option value="" disabled selected>Choose age range</option>
                    {% for age_range in all_age_ranges %}
                        <option value="{{ age_range._id }}">
                            {{ age_range.age_range }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        
        <!-- submit -->
        <div class="col-12 order-5">
            <div class="row mt-5 d-flex justify-content-center align-items-center">
                <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center mb-2 mb-lg-0">
                    <button type="submit" class="btn btn-rounded cta m-2 d-flex align-items-center">
                        <i class="fas fa-plus-circle icon-med"></i>
                        Add Question
                    </button>
                    <a href="{{ url_for('discover') }}" type="button" class="btn btn-link" data-mdb-ripple-color="dark">Discard</a>
                </div>
            </div>
        </div>
    </form>
</section>


{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/forms.js')}}"></script>
{% endblock %}