{% extends "layout/base.html" %}
{% block content %}


{{ loggedIn }} 
<hr>
{{ username }}
<hr>
{{ all_categories }} 
<hr>
{{ all_age_ranges }}
<hr>
{{ quizzes_by_category }}
<hr>
{{ quizzes_by_age_range }}
<hr>
{{ recc_quizzes_by_category }}
<hr>
{{ recc_quizzes_by_age_range }}
<hr>
{{ recc_quizzes }}
    
    <!-- title and search bar -->


    <!-- recommended section -->

        <!-- recommended for <username> -->

    <!-- categories section -->


    <!-- final search bar section -->


    <!-- final create cta section -->



{% endblock %}