{% extends "layout/base.html" %}
{% from 'macros/quiz_carousel.html' import quiz_carousel %}
{% block content %}

<!-- main heading -->
<header>
    <div class="p-5 text-center main-heading container">
        <div class="d-flex justify-content-center col-12 mb-3">
            <i class="fas fa-compass icon-lg p-2"></i>
            <h2 class="text-center p-2">Discover</h2> 
        </div>
        <!-- searchbar -->
        {% include "components/searchbar.html" %}
    </div>
</header>

<!-- recommended quiz carousel section -->
<section class="recommended-quiz-carousel">
    {{ quiz_carousel("Recommended",
        rec_quizzes,
        recc=True) 
    }}
    <hr>
</section>

<!-- categories quiz carousels section -->
<section class="category-quiz-carousels">
    {% for category in all_categories %}
        {{ quiz_carousel(category.category_name,
           quizzes_by_category[category._id],
           category=category.category_name) 
        }}
        <hr>
    {% endfor %}
</section>

<!-- age range quiz carousels section -->
<section class="age-range-quiz-carousels">
    {% for age_range in all_age_ranges %}
        {{ quiz_carousel(age_range.age_range,
           quizzes_by_age_range[age_range._id],
           age_range=age_range.age_range) 
        }}
        <hr>
    {% endfor %}
</section>

<!-- final create quiz cta section -->
<section class="age-range-quiz-carousels">
    {% include "components/create-quiz-cta.html" %}
</section>





<hr>
<h1>username</h1>
{{ username }}
<hr>
<h1>recommended quizzes</h1>
{{ recc_quizzes }}
<hr>
<h1>quizzes_by_category</h1>
{{ quizzes_by_category }}
<hr>
<h1>quizzes by age range</h1>
{{ quizzes_by_age_range }}
<hr>
<h1>all_age_ranges</h1>
{{ all_age_ranges }}
<hr>
<h1>all_categories</h1>
{{ all_categories }}


    
    <!-- title and search bar -->


    <!-- recommended section -->

        <!-- recommended for <username> -->

    <!-- categories section -->


    <!-- final search bar section -->


    <!-- final create cta section -->

{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/forms.js')}}"></script>
    <script src="{{url_for('static', filename='js/alerts.js')}}"></script>
{% endblock %}