{% extends "layout/base.html" %}
{% block content %}

<!-- main heading -->
<header>
    <div class="p-5 text-center main-heading container">
        <div class="d-flex justify-content-center col-12 mb-3">
            <i class="fas fa-compass icon-lg p-2"></i>
            <h2 class="text-center p-2">Discover</h2> 
        </div>
        <!-- searchbar -->
        {% include "components/searchbar.html" %}
    </div>
</header>







<hr>
{{ loggedIn }} 
<hr>
{{ username }}
<hr>
{{ all_categories }} 
<hr>
{{ all_age_ranges }}
<hr>
{{ quizzes_by_category }}
<hr>
{{ quizzes_by_age_range }}
<hr>
{{ recc_quizzes_by_category }}
<hr>
{{ recc_quizzes_by_age_range }}
<hr>
{{ recc_quizzes }}
    
    <!-- title and search bar -->


    <!-- recommended section -->

        <!-- recommended for <username> -->

    <!-- categories section -->


    <!-- final search bar section -->


    <!-- final create cta section -->

{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/forms.js')}}"></script>
    <script src="{{url_for('static', filename='js/alerts.js')}}"></script>
{% endblock %}