<!-- EDIT QUIZ PAGE -->
{% extends "layout/base.html" %}
{% block content %}

<section class="quiz-edit-wrapper container-lg my-2">
    <form class="card quiz-edit-form grid-container"
        method="POST" 
        action="{{ url_for('edit_quiz', edit_quiz_id=edit_quiz_id) }}"
    >
        <div class="quiz-title d-flex justify-content-center justify-content-md-start">
            <label for="edit-title">Title:</label>
            <div class="form-outline">
                <input type="text" id="edit-title" 
                    name="edit-title" class="form-control form-control-lg"
                    placeholder="{{ edit_quiz_data.title }}"
                />
            </div>  
        </div>


        <div class="quiz-img p-2">
            <img
                src="{{ url_for('static', filename=edit_quiz_data.quiz_category_data.img_url) }}"
                class="d-block"
                alt="Image for {{ edit_quiz_data.quiz_category_data.category_name }} quiz"     
            />
        </div>
        <div class="quiz-info
            d-flex flex-column 
            flex-md-row p-2 
            justify-content-around
            align-items-center
            align-items-md-end
            text-center"
        >
            <span>{{ edit_quiz_data.quiz_category_data.category_name }}</span>
            <span>{{ edit_quiz_data.quiz_age_range_data.age_range }}</span>
            <span>
            {% if num_questions == 1 %}
                1 question
            {% else %}
                {{ num_questions }} questions
            {% endif %}
            </span>
        </div>
    </form>
</section>


{% endblock %}

<hr>
<strong>edit_quiz_data</strong>
{{ edit_quiz_data }}
