<!-- EDIT QUESTION PAGE -->
{% extends "layout/base.html" %}
{% block content %}

<!-- edit question main heading -->
<header>
    <div class="p-5 text-center main-heading container">
        <div class="d-flex justify-content-center align-items-center col-12">
            <i class="fas fa-edit icon-med px-3"></i>
            <h4 class="text-center px-2">Question {{ edit_question_num }} of {{ quiz_title }}</h4> 
        </div>
    </div>
</header>

<!-- edit question form -->
<div class="question-wrapper my-4">
    <form 
        class="question-inner d-flex 
        flex-column align-items-center 
        py-3 px-1 card"
        method="POST"
        action="{{ url_for(
        'edit_question', 
        quiz_id=quiz_id, 
        edit_question_id=edit_question_id) }}"
    >   
        <!-- edit question text -->
        <div class="edit-question-text my-2">
            <label for="edit-question-text" class="py-2">Question text:</label>
            <div class="form-outline">
                <textarea name="edit_question_text" id="edit-question-text" required rows="4" cols="50" class="form-control form-control-lg">{{ edit_question_data.question_text }}</textarea>
                <div class="invalid-feedback">
                    Question must be less than 200 characters
                </div>
            </div>  
        </div>
        <hr>
        <span class="align-self-start p-3">Answer choices (check correct answer):</span>
        <!-- edit answers wrapper -->
        <div class="d-flex row justify-content-center 
            align-items-center p-3 edit-answers-wrapper"
        >
            <!-- edit answers text inputs -->
            {% for answer_data in edit_question_data.answers %}
                <div class="d-flex col-10 col-lg-6 align-items-center mb-3">
                    <label for="answer-{{ loop.index0 }}" class="form-label">
                        Option {{ loop.index }}
                    </label>
                    <div class="form-outline w-100">
                        <input name="answer_{{ loop.index0 }}" 
                            id="answer-{{ loop.index0 }}" type="text" 
                            maxlength="30" value="{{ edit_question_data.answers[loop.index0].answer_text }}" 
                            class="form-control form-control-lg" required
                        />
                        <div class="invalid-feedback">
                            Max 30 characters
                        </div>
                    </div>
                    <!-- edit answer radio button -->
                    <div class="d-flex align-items-center p-3">
                        {% if loop.index0 == edit_question_data.correct_answer_index|int %}
                        <input type="radio" 
                            id="correct_answer_{{ loop.index0 }}" 
                            name="correct_answer_index" 
                            value="{{ loop.index0 }}" required
                            checked
                        >
                        {% else %}
                        <input type="radio" 
                            id="correct_answer_{{ loop.index0 }}" 
                            name="correct_answer_index" 
                            value="{{ loop.index0 }}" required
                        >
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- submit edit question form -->
        <div class="edit-question-submit d-flex 
            p-2 justify-content-center
            align-items-center my-3"
        >
            <button type="submit" class="btn btn-rounded cta">
                <i class="fas fa-save icon-sm"></i>
                Save changes
            </button>
        </div> 
        <!-- go back link -->
        <div class="edit-question-back d-flex justify-content-center align-items-center">
            <a href="{{ url_for('edit_quiz', edit_quiz_id=quiz_id) }}">
                <button class="btn btn-rounded 
                    m-2 d-flex align-items-center"
                    type="button"
                >
                    <i class="fas fa-arrow-alt-circle-left icon-sm"></i>
                    Back
                </button>
            </a>
        </div>
    </form>
</div>

{% endblock %}


