<!-- EDIT QUIZ PAGE -->
{% extends "layout/base.html" %}
{% from 'macros/view-edit-macros.html' import view_edit_question %}
{% block content %}

<!-- main heading -->
<header>
    <div class="p-5 text-center main-heading container">
        <div class="d-flex justify-content-center align-items-center col-12">
            <i class="fas fa-edit icon-med px-3"></i>
            <h4 class="text-center px-2">{{ edit_quiz_data.title }}</h4> 
        </div>
    </div>
</header>

<!-- edit quiz form -->
<section class="quiz-edit-wrapper container-lg my-2">
    <div class="card quiz-edit grid-container">
        <form method="POST" 
            action="{{ url_for('edit_quiz', edit_quiz_id=edit_quiz_id) }}"
            class="quiz-edit-data d-flex flex-column pe-3"
        >
            <div class="edit-quiz-title my-2">
                <label for="edit-title" class="py-2">Title:</label>
                <div class="form-outline">
                    <input type="text" id="edit-title" 
                        name="edit-title" class="form-control form-control-lg"
                        value="{{ edit_quiz_data.title }}" required
                    />
                </div>  
            </div>
            <div class="edit-quiz-category my-2">
                <label for="edit-category" class="py-2">Category:</label>
                <select id="edit-category" 
                    name="edit-category"
                    class="form-select" required
                >
                    {% for category in all_categories %}
                        {% if category._id == edit_quiz_data.quiz_category_id %}
                            <option 
                                value="{{ edit_quiz_data.quiz_category_id }}"
                                selected
                            >
                                {{ edit_quiz_data.quiz_category_data.category_name }}
                            </option>
                        {% else %}
                            <option value="{{ category._id }}">
                                {{ category.category_name }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="edit-quiz-age-range my-2">
                <label for="edit-age-range" class="py-2">Age range:</label>
                <select id="edit-age-range" 
                    name="edit-age-range"
                    class="form-select" required
                >
                    {% for age_range in all_age_ranges %}
                        {% if age_range._id == edit_quiz_data.quiz_age_range_id %}
                            <option 
                                value="{{ edit_quiz_data.quiz_age_range_id }}"
                                selected
                            >
                                {{ edit_quiz_data.quiz_age_range_data.age_range }}
                            </option>
                        {% else %}
                            <option value="{{ age_range._id }}">
                                {{ age_range.age_range }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="edit-quiz-submit d-flex 
                p-2 justify-content-center
                align-items-center mt-3"
            >
                <button type="submit" class="btn btn-rounded">
                    <i class="fas fa-save icon-sm"></i>
                    Save changes
                </button>
            </div>
            <div class="edit-quiz-delete d-flex 
                p-2 justify-content-center
                align-items-center mt-3"
            >
                <a href="{{ url_for('delete_quiz', delete_quiz_id=edit_quiz_id) }}"
                    class="d-flex align-items-center justify-content-center"
                >
                    <i class="fas fa-trash icon-sm"></i>
                    Delete Quiz
                </a>
            </div>
        </form>
        <div class="quiz-img p-2">
            <img
                src="{{ url_for('static', filename=edit_quiz_data.quiz_category_data.img_url) }}"
                class="d-block"
                alt="Image for {{ edit_quiz_data.quiz_category_data.category_name }} quiz"     
            />
        </div>
        <div class="quiz-edit-add-question d-flex 
            p-2 justify-content-around my-2
            align-items-center flex-column"
        >   
            <span>
                {% if num_questions == 1 %}
                    1 question
                {% else %}
                    {{ num_questions }} questions
                {% endif %}
            </span>
            <a href="{{ url_for('add_question', quiz_id=edit_quiz_id) }}">
                <button class="btn btn-rounded cta">
                    <i class="fas fa-plus-circle icon-sm"></i>
                    Add Question
                </button>
            </a>
        </div>
    </div>
</section>

<!-- edit questions section -->
<section class="container-lg my-5 px-2 view-questions-wrapper">
    <!-- edit question macros -->
    {% for question_data in edit_quiz_data.questions_data %}
        {{ view_edit_question(question_data, loop.index, True) }}
    {% endfor %}
</section>

<!-- final add question button -->
<section class="container-sm my-3">
    <div class="d-flex justify-content-center align-items-center p-5">
        <a href="{{ url_for('add_question', quiz_id=edit_quiz_id) }}">
            <button class="btn btn-rounded cta">
                <i class="fas fa-plus-circle icon-sm"></i>
                Add Question
            </button>
        </a>
    </div>
</section>


<hr>
<strong>edit_quiz_data</strong>
{{ edit_quiz_data }}


{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/view-question-answers.js')}}"></script>
    <script src="{{url_for('static', filename='js/forms.js')}}"></script>
{% endblock %}
