{% extends "layout/base.html" %}

{% block content %}

<header>
    <!-- Jumbotron -->
    <div class="p-5 text-center jumbotron container">
        <h1 class="mb-3">Let's get Quizzical</h1>
        <h4 class="mb-4">Find, create and share engaging quizzes</h4>
        <div class="d-flex flex-align-justify flex-column flex-lg-row mt-3">
            <a class="btn btn-rounded btn-lg main-cta" href="" role="button">Sign up</a>
            <a href="" type="button" class="btn btn-link" data-mdb-ripple-color="dark">Log In</a>
        </div>
    </div>
</header>
<div class="hero-image-wrapper container-lg my-5">
    <div class="hero-image w-100"></div>
    <div class="hero-caption">
        <h2>Boost student engagement and learning</h2>
    </div>
</div>

{% endblock %}