{% extends "layout/base.html" %}

{% block content %}

<!-- Jumbotron -->
<header>
    <div class="p-5 text-center jumbotron container">
        <h1 class="mb-3">Let's get Quizzical</h1>
        <h4 class="mb-4">Find, create and share engaging quizzes</h4>
        <div class="d-flex flex-align-justify flex-column flex-lg-row mt-3">
            <a class="btn btn-rounded btn-lg main-cta" href="" role="button">Sign up</a>
            <a href="" type="button" class="btn btn-link" data-mdb-ripple-color="dark">Log In</a>
        </div>
    </div>
</header>
<!-- Hero image -->
<div class="hero-image-wrapper container-lg my-5 g-0">
    <div class="hero-image w-100"></div>
    <div class="hero-caption">
        <h2>Boost student engagement and learning</h2>
    </div>
</div>
<!-- List of benefits -->
<div class="benefits-wrapper container-lg my-5">
    <div class="row py-4 px-2">
        <div class="col-12 col-lg-4 p-3">
            <i class="fas fa-lightbulb benefits-icon"></i>
            <span>Find great questions shared by the Quizzical community</span>
        </div>
        <div class="col-12 col-lg-4 p-3">
            <i class="fas fa-graduation-cap benefits-icon"></i>
            <span>Share your knowledge for the benefit of others</span>
        </div>
        <div class="col-12 col-lg-4 p-3">
            <i class="fas fa-chart-line benefits-icon"></i>
            <span>Use quiz content to assess learners and improve attainment</span>
        </div>
    </div>
</div>

{% endblock %}