{% extends "layout/base.html" %}

{% block content %}
<header>
    <!-- Jumbotron -->
    <!-- CREDIT: https://mdbootstrap.com/docs/standard/navigation/headers/ -->
    <div class="p-5 text-center jumbotron container">
        <h1 class="mb-3">Let's get Quizzical</h1>
        <h4 class="mb-3">Find, create and share engaging quizzes</h4>
        <a class="btn btn-primary" href="" role="button">Sign up</a>
        <a class="btn btn-secondary" href="" role="button">Log in</a>
    </div>
</header>
{% endblock %}