{% extends "layout/base.html" %}
{% block content %}
<div class="container-sm my-5 p-0">
    <div class="row justify-content-center">
        <div class="login-wrapper wrapper-sm">
            <!-- login title -->
            <div class="login-title d-flex justify-content-center align-items-center mb-3">
                <i class="fas fa-sign-in-alt icon-lg icon-fade"></i>
                <h2>Login</h2>
            </div>
            <hr class="h-rule">
            <!-- login form -->
            <form method="POST" action="{{ url_for('login') }}" novalidate>
                <!-- username -->
                <div class="row g-0 mb-3">
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <i class="fas fa-user icon-sm icon-fade"></i>
                    </div>
                    <div class="col-8 d-flex form-outline">
                        <input id="username" name="username" type="text" 
                        min-length="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" 
                        class="form-control form-control-lg" required>
                        <label for="username" class="form-label">Username</label>
                        <div class="invalid-feedback">Invalid username</div>
                    </div>
                </div>
                <!-- password -->
                <div class="row g-0 mb-3">
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <i class="fas fa-lock icon-sm icon-fade"></i>
                    </div>
                    <div class="col-8 d-flex form-outline">
                        <input id="password" name="password" type="password" 
                            min-length="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" 
                            class="form-control form-control-lg" required
                        >
                        <label for="password" class="form-label">Password</label>
                        <div class="invalid-feedback">Invalid password</div>
                    </div>
                </div>
                <!-- submit -->
                <div class="row mt-5 d-flex justify-content-center align-items-center">
                    <div class="col-12 col-lg-3 d-flex justify-content-center align-items-center mb-2 mb-lg-0">
                        <button type="submit" class="btn btn-lg cta m-2" title="Login">
                            Login 
                            <i class="fas fa-sign-in-alt icon-sm"></i>
                        </button>
                    </div>
                    <div class="form-new-user col-12 d-flex 
                        justify-content-center align-items-center
                        flex-column">
                        <span>New here?</span>
                        <a href="{{ url_for('register') }}" title="Sign Up">
                            <span class="btn btn-secondary">
                                Sign Up
                            </span> 
                        </a>
                    </div>
                </div>
            </form>
        </div>    
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/forms.js')}}"></script>
    <script src="{{url_for('static', filename='js/alerts.js')}}"></script>
{% endblock %}