{% extends "layout/base.html" %}
{% block content %}
<div class="register-wrapper container-lg d-flex justify-content-center my-5 p-0">
    <div class="card row">
        <!-- register main title -->
        <div class="col-12 register-title d-flex justify-content-center align-items-center mb-3">
            <h2>Lets get Quizzical!</h2>
        </div>
        <hr>
        <!-- register sub title -->
        <div class="col-12 register-sub-title d-flex justify-content-start align-items-center mb-3">
            <i class="icon-lg fas fa-user-plus"></i>
            <h4>Create account</h4>
        </div>
    </div>
</div>


{% endblock %}