{% extends "layout/base.html" %}
{% block content %}
<div class="register-wrapper container-lg d-flex justify-content-center my-5 p-0">
    <div class="card row">
        <!-- register main title -->
        <div class="col-12 register-title d-flex justify-content-center align-items-center mb-3">
            <h2>Lets get Quizzical!</h2>
        </div>
        <hr>
        <!-- register sub title -->
        <div class="col-12 register-sub-title d-flex justify-content-start align-items-center mb-3">
            <i class="icon-lg fas fa-user-plus"></i>
            <h4>Create account</h4>
        </div>
        <!-- register form -->
         <form method="POST" action="{{ url_for('register') }}">
            <!-- username -->
            <div class="col-12 col-lg-6">
                <div class="row mb-3">
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <i class="fas fa-user icon-sm"></i>
                    </div>
                    <div class="col-8 d-flex justify-content-center form-outline">
                        <input id="username" name="username" type="text" 
                        min-length="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" 
                        class="form-control" required>
                        <label for="username" class="form-label">Username</label>
                    </div>
                </div>
            </div>
            <!-- main category select-->
            <div class="col-12 col-lg-6">
                <div class="row mb-3">
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <i class="fas fa-folder-open icon-sm"></i>
                    </div>
                    <div class="col-8 d-flex justify-content-center form-outline">
                        <input id="main-category" name="main-category" type="text" 
                        role="listbox" aria-multiselectable="false" 
                        aria-disabled="false" aria-haspopup="true"
                        aria-expanded="false"
                        class="form-control select-input" required>
                    </div>
                    <select class="select">
                        {% for category_name in category_names %}
                            <option value="{{ category_name.category_name }}">
                                {{ category_name.category_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- main age range select-->
            <div class="col-12 col-lg-6 order-lg-4">
                <div class="row mb-3">
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <i class="fas fa-users icon-sm"></i>
                    </div>
                    <div class="col-8 d-flex justify-content-center form-outline">
                        <input id="main-age-range" name="main-age-range" type="text" 
                        role="listbox" aria-multiselectable="false" 
                        aria-disabled="false" aria-haspopup="true"
                        aria-expanded="false"
                        class="form-control select-input" required>
                    </div>
                    <select class="select">
                        {% for age_range in age_ranges %}
                            <option value="{{ age_range.age_range }}">
                                {{ age_range.age_range }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- password -->
            <div class="row mb-3">
                <div class="col-2 d-flex justify-content-center align-items-center">
                    <i class="fas fa-lock icon-sm"></i>
                </div>
                <div class="col-8 d-flex justify-content-center form-outline">
                    <input id="password" name="password" type="password" 
                        min-length="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" 
                        class="form-control" required
                    >
                    <label for="password" class="form-label">Password</label>
                </div>
            </div>
            <!-- submit -->
             <div class="row mt-5 d-flex justify-content-center align-items-center">
                 <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center mb-2 mb-lg-0">
                    <button type="submit" class="btn btn-rounded cta m-2">
                        Log In 
                        <i class="fas fa-sign-in-alt icon-sm"></i>
                    </button>
                 </div>
                <div class="form-new-user col-12 col-lg-6 d-flex justify-content-center align-items-center">
                    <span>New here?</span>
                    <a href="{{ url_for('register') }}" type="button" 
                        class="btn btn-link" data-mdb-ripple-color="dark"
                    >
                    Create account
                    </a>
                </div>
             </div>
        </form>
    </div>
</div>


{% endblock %}