<!-- SEARCH PAGE -->
{% from 'macros/search-macros.html' import quiz_search_result %}
{% extends "layout/base.html" %}
{% block content %}

<!-- main heading with searchbar -->
<header>
    <div class="p-5 text-center main-heading container">
        <div class="d-flex justify-content-center col-12 mb-3">
            <i class="fas fa-search icon-lg p-2"></i>
            <h2 class="text-center p-2">Search</h2> 
        </div>
        {% include "components/searchbar.html" %}
    </div>
</header>



{% if search_results %}
    <!-- search results section -->
    <section class="search-results-wrapper container-lg my-5 g-0">
        <div class="wrapper-lg">
            <!-- quiz_search_result macros -->
            {% for quiz in search_results %}
                {{ quiz_search_result(quiz) }}
            {% endfor %}
        </div>
    </section>
{% else %}
    <!-- no quizzes found section -->
    <div class="container-lg my-5">
        <div class="row justify-content-center">
            <div class="wrapper-lg no-quizzes-found d-flex flex-column flex-align-justify">
                <h6 class="p-2">No quizzes found...</h6>
                <span class="p-2 mb-4">Try a different search?</span>
                <a href="{{ url_for('discover') }}" title="Discover">
                    <span class="btn btn-secondary d-flex align-items-center">
                        <i class="fas fa-arrow-circle-left icon-sm me-2"></i>
                        Discover
                    </span>
                </a>
            </div>
        </div>
    </div>
{% endif %}
<hr class="h-rule">
<!-- final create quiz cta section -->
<div class="final-create-cta">
    {% include "components/create-quiz-cta.html" %}
</div>

{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/forms.js')}}"></script>
    <script src="{{url_for('static', filename='js/alerts.js')}}"></script>
{% endblock %}