<!-- VIEW QUIZ PAGE -->
{% extends "layout/base.html" %}
{% from 'macros/view-macros.html' import view_question %}
{% block content %}

<section class="quiz-view-wrapper container-lg my-2">
    <div class="card quiz-view grid-container">
        <div class="quiz-title d-flex justify-content-center justify-content-md-start">
            <h3 class="p-4 text-center">
                {{ view_quiz_data.title }}
            </h3>
        </div>
        <div class="quiz-img p-2">
            <img
                src="{{ url_for('static', filename=view_quiz_data.quiz_category_data.img_url) }}"
                class="d-block"
                alt="Image for {{ view_quiz_data.quiz_category_data.category_name }} quiz"     
            />
        </div>
        <div class="quiz-info
            d-flex flex-column 
            flex-md-row p-2 
            justify-content-around
            align-items-center
            align-items-md-end
            text-center"
        >
            <span>{{ view_quiz_data.quiz_category_data.category_name }}</span>
            <span>{{ view_quiz_data.quiz_age_range_data.age_range }}</span>
            <span>
            {% if num_questions == 1 %}
                1 question
            {% else %}
                {{ num_questions }} questions
            {% endif %}
            </span>
        </div>
        {% if user_is_owner %}
            <div class="quiz-owner d-flex 
                flex-column flex-md-row p-2
                justify-content-around
                align-items-center"
            >
                <a href="{{ url_for('edit_quiz', edit_quiz_id=view_quiz_id) }}">
                    <i class="fas fa-edit icon-med"></i>
                </a>
                <a href="{{ url_for('delete_quiz', delete_quiz_id=view_quiz_id) }}">
                    <i class="fas fa-trash icon-med"></i>
                </a>
            </div>
        {% else %}
            <div class="quiz-owner d-flex justify-content-center align-items-end p-2">
                <span>{{ view_quiz_data.quiz_owner_data.username }}</span>
            </div>
        {% endif %}
    </div>
</section>

<!-- view questions section -->
<section class="container-lg my-5 px-2 view-questions-wrapper">
    <!-- view question macros -->
    {% for question_data in view_quiz_data.questions_data %}
        {{ view_question(question_data, loop.index) }}
    {% endfor %}
</section>

{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/view-quiz.js')}}"></script>
    <script src="{{url_for('static', filename='js/alerts.js')}}"></script>
{% endblock %}