/* HELPERS */
/* ******* VARIABLES ******* */
/* import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Oswald:wght@200;300;400;500&family=Raleway:wght@300;400;500;600&display=swap");
/* COLOR VARIABLES */
/* FONT VARIABLES */
/* ******* MIXINS ******* */
/* ******* BUTTONS ******* */
.btn {
  padding: 0.75rem 2rem;
  font-size: calc(1.2rem + .6vw);
  font-family: "Oswald", sans-serif;
  line-height: initial;
  white-space: nowrap;
}
.btn.btn-link {
  font-size: calc(0.8rem + .2vw);
}
.btn.btn-search {
  padding: 0.6rem 1rem 0.6rem 1rem;
}
.btn.cta {
  text-transform: uppercase;
  background-color: #C60F7B;
  color: #FFFFFF;
}
.btn.cta.btn-lg {
  font-size: calc(1.4rem + .8vw);
  padding: 1rem 2.5rem;
  margin: 0.5rem;
}
.btn.cta.btn-nav {
  font-size: calc(1rem + .4vw);
  padding: 0.75rem 1.5rem;
  margin: 0.25rem;
}

/* ******* ICONS ******* */
.icon-sm {
  font-size: calc(1.4rem + .4vw);
  padding: 0.5rem;
}

.icon-med {
  font-size: calc(2.5rem + .5vw);
  padding: 0.6rem;
}

.icon-lg {
  font-size: calc(3.5rem + .8vw);
  padding: 0.7rem;
}

.fa-star {
  color: gold;
}

/* ******* ALERTS ******* */
.alert-dismissible .btn-close {
  top: initial;
  margin-right: 0.75rem;
}
.alert-dismissible .btn-close.remove {
  display: none;
}

/* ******* ALLPAGES ******* */
/* global resets */
html {
  font-size: 62.5%;
}
html body {
  color: #000000;
}
/* fonts */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

h1 {
  font-size: calc(3.5rem + 1vw);
}

h2 {
  font-size: calc(3rem + .6vw);
}

h3 {
  font-size: calc(2.5rem + .4vw);
}

h4 {
  font-size: calc(2rem + .3vw);
}

h5 {
  font-size: calc(1.75rem + .3vw);
}

h6 {
  font-size: calc(1.5rem + .3vw);
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  font-family: "Oswald", sans-serif;
  font-size: calc(1.4rem + .5vw);
}

span {
  font-size: calc(1.2rem + .8vw);
}

/* containers */
main {
  min-height: 100vh;
  background-image: url("./../img/question-mark-background-colored.png");
  background-attachment: fixed;
  margin-top: 6.663rem;
  padding-bottom: 8rem;
}
main .flashed-messages h4 {
  margin-bottom: 0;
}

.main-inner-wrapper {
  position: relative;
  top: 6rem;
}
.main-inner-wrapper .container,
.main-inner-wrapper .container-lg {
  background-color: #FFFFFF;
}

/*** mixins as classes ***/
.flex-align-justify {
  justify-content: center;
  align-items: center;
}

/* COMPONENTS */
/* ******* NAVBAR ******* */
.navbar {
  background-color: #0839D9;
}
.navbar .navbar-toggler {
  color: #FFFFFF;
  font-size: 2.5rem;
  padding: 1rem;
}
.navbar #nav-logo {
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
}
.navbar #nav-logo-title {
  font-size: 2.5rem;
  color: #FADCB2;
  margin: 0.5rem;
}
.navbar .nav-link {
  color: #FFFFFF;
  font-size: 1.4rem;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}
.navbar-collapse .navbar-nav {
  align-items: center;
}

/* ******* FOOTER ******* */
footer {
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  background-color: #0839D9;
}
footer .footer-inner-wrapper {
  position: relative;
  top: 6rem;
}
footer #footer-thdev-icon,
footer #footer-logo {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.5rem;
}
footer #footer-thdev-icon {
  border-radius: 0.5rem;
}
footer a.wheat {
  color: #FADCB2;
}

/*** MAIN HEADING ***/
.main-heading {
  background-color: #FFFFFF;
}
.main-heading h1, .main-heading h2 {
  color: #C60F7B;
  font-weight: 600;
}

/* ******* CARDS ******* */
.wrapper > .card {
  width: 100%;
  min-width: 60%;
  padding: calc(1.5rem + 2vw) calc(3rem + 2vw);
}

/* quiz cards */
.quiz-cards-wrapper {
  background-color: #FFFFFF;
}
.quiz-cards-wrapper .quiz-cards-heading-wrapper a {
  color: #0839D9;
}

.quiz-cards-item .item-inner {
  height: 35rem;
  max-height: 50vh;
  max-width: 25rem;
}
.quiz-cards-item .item-inner img {
  height: 65%;
}
.quiz-cards-item .item-inner .quiz-cards-text {
  height: 35%;
}
.quiz-cards-item .item-inner .quiz-cards-text h4 {
  padding: calc(1rem + .2vw) 0.5rem 0 0.5rem;
  margin: 0;
}
.quiz-cards-item .item-inner .quiz-cards-text span {
  font-size: calc(1rem + .2vw);
  color: rgba(0, 0, 0, 0.7);
  padding: 0 0.5rem calc(.5rem + .2vw) 0.5rem;
}

/* search result cards */
.quiz-search-result.grid-container {
  display: grid;
  height: 20rem;
  grid-template: 40% 40% 20%/60% 40%;
}
.quiz-search-result.grid-container .quiz-title {
  grid-area: 1/1/span 1/span 1;
}
.quiz-search-result.grid-container .quiz-img {
  grid-area: 1/2/span 2/span 1;
}
.quiz-search-result.grid-container .quiz-img img {
  width: 100%;
  height: 100%;
}
.quiz-search-result.grid-container .view-quiz-button {
  grid-area: 2/1/span 1/span 1;
  align-items: flex-start;
}
.quiz-search-result.grid-container .quiz-info {
  grid-area: 3/1/span 1/span 2;
}
.quiz-search-result.grid-container .quiz-info span {
  font-size: calc(1rem + .2vw);
  color: rgba(0, 0, 0, 0.7);
  padding: 0 0.75rem calc(.5rem + .2vw) 0.75rem;
}

/* view quiz card */
.quiz-view.grid-container {
  display: grid;
  height: 20rem;
  grid-template: 40% 60%/50% 50%;
}
.quiz-view.grid-container span {
  font-size: calc(1rem + .2vw);
  color: rgba(0, 0, 0, 0.7);
  padding: 0 0.75rem calc(.5rem + .2vw) 0.75rem;
}
.quiz-view.grid-container .quiz-title {
  grid-area: 1/1/span 1/span 1;
}
.quiz-view.grid-container .quiz-img {
  grid-area: 1/2/span 1/span 1;
}
.quiz-view.grid-container .quiz-img img {
  width: 100%;
  height: 100%;
}
.quiz-view.grid-container .quiz-info {
  grid-area: 2/1/span 1/span 1;
}
.quiz-view.grid-container .quiz-owner {
  grid-area: 2/2/span 1/span 1;
}

/* ******* CAROUSELS ******* */
.carousel .carousel-caption {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  margin-bottom: 3rem;
  padding: 1.5rem;
}
.carousel .carousel-indicators {
  margin-bottom: 4rem;
}
.carousel p {
  font-size: calc(1rem + .4vw);
}

.quiz-carousel {
  background-color: #FFFFFF;
}
.quiz-carousel .carousel-item .item-inner {
  margin: 0 auto;
}
.quiz-carousel .carousel-heading-wrapper a {
  color: #0839D9;
}
.quiz-carousel .carousel-control-next,
.quiz-carousel .carousel-control-prev {
  color: rgba(0, 0, 0, 0.7);
}
.quiz-carousel .carousel-control-next .carousel-control-next-icon,
.quiz-carousel .carousel-control-next .carousel-control-prev-icon,
.quiz-carousel .carousel-control-prev .carousel-control-next-icon,
.quiz-carousel .carousel-control-prev .carousel-control-prev-icon {
  overflow-x: visible;
}
.quiz-carousel .carousel-control-next .carousel-control-next-icon:after,
.quiz-carousel .carousel-control-next .carousel-control-prev-icon:after,
.quiz-carousel .carousel-control-prev .carousel-control-next-icon:after,
.quiz-carousel .carousel-control-prev .carousel-control-prev-icon:after {
  font-size: 3rem;
}

/* ******* FORMS ******* */
form {
  padding: calc(1rem + 1vw);
}

/* PAGES */
/* ******* LANDING PAGE ******* */
/* hero image section */
.hero-image-wrapper {
  position: relative;
}
.hero-image-wrapper .hero-image {
  background-image: url("./../img/class-with-raised-hands-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 60vh;
}
.hero-image-wrapper .hero-caption {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 15%;
  width: 100%;
}
.hero-image-wrapper .hero-caption h2 {
  padding: 3rem 6rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  color: #FFFFFF;
  text-align: center;
}

/* benefits section */
.benefits-wrapper {
  background-color: #FFFFFF;
  border-radius: 2rem;
}
.benefits-wrapper .benefit {
  padding: 2rem;
  margin: 1.5rem 0;
  text-align: center;
}
.benefits-wrapper .benefits-icon {
  padding: 0.5rem;
}
.benefits-wrapper span {
  padding: 1rem;
}

/* get started section */
.get-started-wrapper {
  background-color: #FFFFFF;
  border-radius: 2rem;
}
.get-started-wrapper h2 {
  text-align: center;
  margin: 3rem 0 3rem 0;
}
.get-started-wrapper .get-started-step {
  padding: 2rem;
}
.get-started-wrapper .get-started-step img {
  width: calc(5rem + 1vw);
  height: calc(5rem + 1vw);
}
.get-started-wrapper .get-started-step .number-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.get-started-wrapper .get-started-step i {
  padding: 1rem;
  color: #E0E0E0;
}
.get-started-wrapper .get-started-step p {
  padding: 0 1rem;
  text-align: center;
  font-size: calc(1.2rem + .8vw);
}

/* final cta section */
.final-cta-wrapper {
  background-color: #FFFFFF;
  border-radius: 2rem;
  padding: 3rem;
}
.final-cta-wrapper h2 {
  margin-bottom: 2rem;
}

/* ******* LOGIN PAGE ******* */
.login-wrapper .login-title * {
  padding: 0 calc(1rem + .4vw);
}
.login-wrapper .form-new-user * {
  padding: 0 calc(.5rem + .2vw);
}

/* ******* REGISTER PAGE ******* */
.register-wrapper .register-title, .register-wrapper .register-sub-title {
  padding: calc(1.5rem + .5vw);
  padding-left: 0;
}
.register-wrapper .register-title *, .register-wrapper .register-sub-title * {
  padding: 0 calc(1rem + .4vw);
}

/* ******* SEARCH PAGE ******* */
.num-results span {
  color: rgba(0, 0, 0, 0.7);
  font-size: calc(1.1rem + .4vw);
}

/* MEDIA QUERIES */
/* ******* MEDIA QUERIES ******* */
/* small screen sizes and above */
@media screen and (min-width: 576px) {
  /* add border radius and box shadow */
  .main-heading {
    box-shadow: 0 0 2rem;
    border-radius: 2rem;
  }

  .benefits-wrapper .benefit {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}
/* medium screen sizes and above */
@media screen and (min-width: 768px) {
  .main-heading h1 {
    font-size: 5rem;
  }

  .get-started-wrapper .get-started-step p {
    text-align: justify;
  }

  .login-wrapper .card, .register-wrapper .card {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .quiz-cards-item {
    height: 40rem;
  }

  /* search result cards */
  .quiz-search-result.grid-container {
    grid-template: 50% 50%/40% 30% 30%;
  }
  .quiz-search-result.grid-container .quiz-title {
    grid-area: 1/1/span 1/span 1;
  }
  .quiz-search-result.grid-container .quiz-title h4 {
    font-size: calc(2.5rem + .5vw);
  }
  .quiz-search-result.grid-container .quiz-img {
    grid-area: 1/3/span 2/span 1;
  }
  .quiz-search-result.grid-container .quiz-img img {
    width: 100%;
    height: 100%;
  }
  .quiz-search-result.grid-container .view-quiz-button {
    grid-area: 1/2/span 2/span 1;
    align-items: center;
  }
  .quiz-search-result.grid-container .quiz-info {
    grid-area: 2/1/span 1/span 1;
  }
  .quiz-search-result.grid-container .quiz-info span {
    font-size: calc(1.5rem + .2vw);
    color: rgba(0, 0, 0, 0.7);
    padding: 0 0.75rem calc(.5rem + .2vw) 0.75rem;
  }
}
/* large screen sizes and above */
@media screen and (min-width: 992px) {
  .hero-image-wrapper {
    /* add border radius */
  }
  .hero-image-wrapper .hero-image {
    border-radius: 2rem;
  }

  .carousel .carousel-inner {
    border-radius: 2rem;
  }

  .benefits-wrapper {
    border-radius: 2rem;
  }
  .benefits-wrapper .benefit {
    padding: 3rem;
  }

  .get-started-wrapper .get-started-step p {
    text-align: center;
  }

  .quiz-cards-item {
    height: 50rem;
  }
}/*# sourceMappingURL=style.css.map */