<!-- QUIZ CAROUSEL MACRO  -->

{% macro quiz_carousel(title, quizzes, category=None, age_range=None, recc=False) -%}

<div class="carousel-wrapper quiz-carousel container-lg my-5 p-0">
    <!-- Carousel heading section -->
    <div class="carousel-heading-wrapper
        d-flex
        justify-content-between
        justify-content-md-start 
        align-items-center
        py-3">
        <h3 class="p-3 m-0">{{ title }}</h3>
        {% if quizzes %}
            {% if recc %}
                <a href="{{ url_for('search',
                    category=category,
                    age_range=age_range,
                    recc='true') }}" class="me-5"
                >
                    <i class="fas fa-arrow-circle-right icon-med"></i>
                </a>
            {% elif category %}
                <a href="{{ url_for('search',
                    category=category) }}" class="me-5"
                >
                    <i class="fas fa-arrow-circle-right icon-med"></i>
                </a>
            {% elif age_range %}
                <a href="{{ url_for('search',
                    age_range=age_range) }}" class="me-5"
                >
                    <i class="fas fa-arrow-circle-right icon-med"></i>
                </a>
            {% endif %}
        {% endif %}
    </div>

    {% if not quizzes %}

        <h6 class="text-center p-3">No quizzes found</h6>

    {% else %}

    <!-- credit: carousel markup from: https://mdbootstrap.com/docs/standard/components/carousel/ -->
        {% if category %}
            <div id="{{ title|lower|replace(' ', '-') }}-quiz-carousel" 
                class="carousel slide carousel-fade" 
                data-mdb-ride="carousel"
            >
        {% elif age_range %}
            <div id="age-{{ title|lower|replace(' ', '-') }}-quiz-carousel" 
                class="carousel slide carousel-fade" 
                data-mdb-ride="carousel"
            >
        {% endif %}

        <div class="carousel-inner py-5">
            {% for quiz in quizzes  %}
                {% if loop.index == 1 %}
                    <div class="carousel-item quiz-cards-item active">
                {% else %}
                    <div class="carousel-item quiz-cards-item">
                {% endif %}
                        <a href="{{ url_for('view_quiz', view_quiz_id=quiz._id) }}" class="card item-inner">
                            <img
                                src="{{ quiz.quiz_category_data.img_url }}"
                                class="d-block w-100"
                                alt="Image for {{ quiz.quiz_category_data.category_name }} quiz"     
                            />
                            <div class="carousel-text quiz-cards-text d-flex flex-column justify-content-between">
                                <h4>{{ quiz.title }}</h4>
                                <div class="carousel-info quiz-cards-info d-flex justify-content-between">
                                    {% if category %}
                                        <span>{{ quiz.quiz_age_range_data.age_range }}</span>
                                    {% endif %}
                                    {% if age_range %}
                                        <span>{{ quiz.quiz_category_data.category_name }}</span>
                                    {% endif %}
                                    <span>{{ quiz.quiz_owner_data.username }}</span>
                                </div>
                            </div>
                        </a>
                    </div>
            {% endfor %}
        </div>
        {% if category %}
            <button
                class="carousel-control-prev"
                type="button"
                data-mdb-target="#{{ title|lower|replace(' ', '-') }}-quiz-carousel"
                data-mdb-slide="prev"
            >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button
                class="carousel-control-next"
                type="button"
                data-mdb-target="#{{ title|lower|replace(' ', '-') }}-quiz-carousel"
                data-mdb-slide="next"
            >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        {% elif age_range %}
            <button
                class="carousel-control-prev"
                type="button"
                data-mdb-target="#age-{{ title|lower|replace(' ', '-') }}-quiz-carousel"
                data-mdb-slide="prev"
            >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button
                class="carousel-control-next"
                type="button"
                data-mdb-target="#age-{{ title|lower|replace(' ', '-') }}-quiz-carousel"
                data-mdb-slide="next"
            >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        {% endif %}
    </div>

    {% endif %}
</div>        

{%- endmacro %}


<!-- QUIZ CARDS MACRO  -->

{% macro quiz_cards(title, quizzes, category=None, age_range=None, recc=False) -%}

<div class="quiz-cards-wrapper container-lg py-5 my-5">

    <!-- quiz cards heading section -->
    <div class="quiz-cards-heading-wrapper
        d-flex
        justify-content-between
        justify-content-md-start 
        align-items-center
        my-3">
        <h3 class="p-3 m-0">{{ title }}</h3>
        {% if recc %}
            <i class="fas fa-star icon-med"></i>
        {% endif %}
    </div>

    {% if not quizzes %}
        <h6 class="text-center p-3">No quizzes found</h6>
    {% else %}
        <div id="{{ title|lower|replace(' ', '-') }}-quiz-cards" >
            <div class="quiz-cards-inner d-flex justify-content-evenly py-3">
            {% for quiz in quizzes  %}
                <div class="quiz-cards-item d-flex justify-content-center align-items-center">
                    <a href="{{ url_for('view_quiz', view_quiz_id=quiz._id) }}" class="card item-inner">
                        <img
                            src="{{ quiz.quiz_category_data.img_url }}"
                            class="d-block w-100"
                            alt="Image for {{ quiz.quiz_category_data.category_name }} quiz"     
                        />
                        <div class="quiz-cards-text d-flex flex-column justify-content-between">
                            <h4>{{ quiz.title }}</h4>

                            <div class="quiz-cards-info d-flex justify-content-between">
                                {% if category %}
                                    <span>{{ quiz.quiz_category_data.category_name }}</span>
                                {% endif %}
                                {% if age_range %}
                                    <span>{{ quiz.quiz_age_range_data.age_range }}</span>
                                {% endif %}
                                <span>{{ quiz.quiz_owner_data.username }}</span>
                            </div>  
                        </div>
                    </a>
                </div>
            {% endfor %}
                <div class="d-flex flex-column justify-content-center align-items-center">
                    {% if recc %}
                        <a href="{{ url_for('search',
                            category=category,
                            age_range=age_range,
                            recc='true') }}" 
                            class="d-flex flex-column text-center"
                        >
                            <i class="fas fa-arrow-circle-right icon-med"></i>
                            <span>View more</span>
                        </a>
                    {% elif category %}
                        <a href="{{ url_for('search',
                            category=category) }}" 
                            class="d-flex flex-column text-center"
                        >
                            <i class="fas fa-arrow-circle-right icon-med"></i>
                            <span>View more</span>
                        </a>
                    {% elif age_range %}
                        <a href="{{ url_for('search',
                            age_range=age_range) }}" 
                            class="d-flex flex-column text-center"
                        >
                            <i class="fas fa-arrow-circle-right icon-med"></i>
                            <span>View more</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
</div>        

{%- endmacro %}


