<!-- QUIZ CAROUSEL MACRO  -->

{% macro quiz_carousel(title, quizzes, category=None, age_range=None, recc=False) -%}

<div class="carousel-wrapper quiz-carousel container-lg my-5 p-0">

    <!-- Carousel heading section -->
    <div class="carousel-heading-wrapper
        d-flex
        justify-content-between
        justify-content-md-start 
        align-items-center
        py-3">
        <h3 class="p-3 m-0">{{ title }}</h3>
        <a href="{{ url_for('search', search_query=title) }}" class="me-5">
            <i class="fas fa-arrow-circle-right icon-med"></i>
        </a>
    </div>


    {% if not quizzes %}

    <h6 class="text-center p-3">No quizzes found</h6>

    {% else %}

    <!-- credit: carousel markup from: https://mdbootstrap.com/docs/standard/components/carousel/ -->
    <div id="{{ title|lower|replace(' ', '-') }}-quiz-carousel" 
        class="carousel slide carousel-fade" 
        data-mdb-ride="carousel"
    >
        <!-- <div class="carousel-indicators">
            <button
            type="button"
            data-mdb-target="#{{ title|lower|replace(' ', '-') }}-quiz-carousel"
            data-mdb-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
            ></button>
            <button
            type="button"
            data-mdb-target="#{{ title|lower|replace(' ', '-') }}-quiz-carousel"
            data-mdb-slide-to="1"
            aria-label="Slide 2"
            ></button>
            <button
            type="button"
            data-mdb-target="#{{ title|lower|replace(' ', '-') }}-quiz-carousel"
            data-mdb-slide-to="2"
            aria-label="Slide 3"
            ></button>
        </div> -->


        <div class="carousel-inner py-5">
            {% for quiz in quizzes  %}
                    {% if loop.index == 1 %}
                    <div class="carousel-item quiz-cards-item active">
                    {% else %}
                    <div class="carousel-item quiz-cards-item">
                    {% endif %}    
                        <div class="card item-inner">
                            <img
                                src="{{ quiz.quiz_category_data.img_url }}"
                                class="d-block w-100"
                                alt="Image for {{ quiz.quiz_category_data.category_name }} quiz"     
                            />
                            <div class="carousel-text quiz-cards-text d-flex flex-column justify-content-between">
                                <h4>{{ quiz.title }}</h4>

                                <div class="carousel-info quiz-cards-info d-flex justify-content-between">
                                    {% if category %}
                                        <span>{{ quiz.quiz_age_range_data.age_range }}</span>
                                    {% endif %}
                                    {% if age_range %}
                                        <span>{{ quiz.quiz_category_data.category_name }}</span>
                                    {% endif %}
                                    {% if recc %}
                                        <span>{{ quiz.quiz_category_data.category_name }}</span>
                                        <span>{{ quiz.quiz_age_range_data.age_range }}</span>
                                    {% endif %}
                                    <span>{{ quiz.quiz_owner_data.username }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
        <button
            class="carousel-control-prev"
            type="button"
            data-mdb-target="#{{ title|lower|replace(' ', '-') }}-quiz-carousel"
            data-mdb-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
            class="carousel-control-next"
            type="button"
            data-mdb-target="#{{ title|lower|replace(' ', '-') }}-quiz-carousel"
            data-mdb-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    {% endif %}
</div>        



{%- endmacro %}


