<!-- QUIZ CAROUSEL MACRO  -->

{% macro quiz_carousel(title, quizzes, category=None, age_range=None) -%}



<div class="carousel-wrapper container-lg my-5 p-0">

    <!-- Carousel heading section -->
    <div class="quiz-carousel-heading-wrapper d-flex justify-content-start align-items-center">
        <h4>{{ title }}</h4>
        {% if title=="Recommended" %}
            <i class="far fa-star icon-sm d-none d-md-block"></i>
        {% endif %}
        <a href="{{ url_for('search', search_query=title) }}">
            <i class="fas fa-arrow-circle-right"></i>
        </a>
    </div>


    {% if not quizzes %}

    <!-- TODO: display 'No quizzes found' message -->

    {% else %}

    <!-- credit: carousel markup from: https://mdbootstrap.com/docs/standard/components/carousel/ -->
    <div id="{{ title|lower|replace(' ', '-') }}-quiz-carousel" 
        class="carousel slide carousel-fade" 
        data-mdb-ride="carousel"
    >
        <!-- <div class="carousel-indicators">
            <button
            type="button"
            data-mdb-target="#{{ title|lower|replace(' ', '-') }}-quiz-carousel"
            data-mdb-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
            ></button>
            <button
            type="button"
            data-mdb-target="#{{ title|lower|replace(' ', '-') }}-quiz-carousel"
            data-mdb-slide-to="1"
            aria-label="Slide 2"
            ></button>
            <button
            type="button"
            data-mdb-target="#{{ title|lower|replace(' ', '-') }}-quiz-carousel"
            data-mdb-slide-to="2"
            aria-label="Slide 3"
            ></button>
        </div> -->


        <div class="carousel-inner">
            {% for quiz in quizzes  %}
                <div class="card">
                    <div class="carousel-item active">
                        <img
                            src="{{ url_for('static', filename='') }}"
                            class="d-block w-100"
                            alt="Boy working in classroom"
                        />
                        <div class="carousel-caption">
                            <h3>Recommended content</h3>
                            <p>Quizzical helps teachers to find great questions for their students</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button
            class="carousel-control-prev"
            type="button"
            data-mdb-target="#{{ title|lower|replace(' ', '-') }}-quiz-carousel"
            data-mdb-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
            class="carousel-control-next"
            type="button"
            data-mdb-target="#{{ title|lower|replace(' ', '-') }}-quiz-carousel"
            data-mdb-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    {% endif %}
</div>        



{%- endmacro %}


