<!-- QUIZ SEARCH RESULT MACRO  -->

{% macro quiz_search_result(quiz_data) -%}

<div class="quiz-search-result-wrapper my-5">
    <a class="card quiz-search-result grid-container"
        href="{{ url_for('view_quiz', view_quiz_id=quiz_data._id) }}" 
    >
        <div class="quiz-title">
            <h4 class="p-3">
                {{ quiz_data.title }}
            </h4>
        </div>
        <div class="quiz-img">
            <img
                src="{{ url_for('static', filename=quiz_data.quiz_category_data.img_url) }}"
                class="d-block"
                alt="Image for {{ quiz_data.quiz_category_data.category_name }} quiz"     
            />
        </div>
        <div class="quiz-info d-flex justify-content-between align-items-end">
            <span>{{ quiz_data.num_questions }} questions</span>
            <span>{{ quiz_data.quiz_category_data.category_name }}</span>
            <span>{{ quiz_data.quiz_age_range_data.age_range }}</span>
        </div>
    </a>
</div>

{%- endmacro %}