<!-- VIEW QUESTION MACRO  -->

{% macro view_question(
    question_data, 
    question_num
) -%}
<div class="question-wrapper my-2">
    <div class="question-inner d-flex 
        flex-column align-items-center 
        py-3 px-1 card"
    >   
        <!-- question number -->
        <span>Question {{ question_num }}</span>

        <!-- question title -->
        <h6>{{ question_data.title }}</h6>

        <hr>

        <span>Answer choices:</span>

        <!-- view answers -->
        <div class="view-answers-wrapper row">
        {% for answer_data in question_data.answers %}
            {% if question_data.correct_answer_index == loop.index %}
                <div class="answer col-12 col-lg-6 p-2">
                    <i class="far fa-question-circle icon-sm correct"></i>
                    <span class="answer-text mx-2"></span>
                </div>
            {% else %}
                <div class="answer col-12 col-lg-6 p-2">
                    <i class="far fa-question-circle icon-sm"></i>
                    <span class="answer-text mx-2"></span>
                </div>
            {% endif %}
        {% endfor %}
        </div>
        <!-- show/hide answer button -->
        <button>Show/hide answer</button>

    </div>

</div>


{%- endmacro %}