<!-- VIEW/EDIT QUESTION MACRO - child templates for view-quiz/edit-quiz templates -->

{% macro view_edit_question(
    question_data, 
    question_num,
    quiz_id, 
    edit
) -%}

<div class="question-wrapper my-4">
    <div class="question-inner d-flex 
        flex-column align-items-center 
        py-3 px-1 card"
    >   
        <!-- question number and edit/delete buttons -->
        {% if edit %}
            <div class="d-flex justify-content-between w-100">
                <h6 class="p-3">Q {{ question_num }}</h6>
                <div class="edit-delete-buttons m-3">
                    <a href="{{ url_for(
                        'edit_question', 
                        quiz_id=quiz_id, 
                        edit_question_id=question_data._id)}}"
                    >
                        <i class="fas fa-edit icon-med p-3"></i>
                    </a>
                    <a href="{{ url_for(
                        'delete_question', 
                        quiz_id=quiz_id, 
                        delete_question_id=question_data._id)}}"
                    >
                        <i class="fas fa-trash icon-med p-3"></i>
                    </a>
                </div>
            </div>
        {% else %}
            <span class="p-3 align-self-start">Q {{ question_num }}</span>
        {% endif %}
        
        <!-- question text -->
        <h6 class="p-3">{{ question_data.question_text }}</h6>
        <hr>
        <span class="align-self-start p-3">Answer choices:</span>
        <!-- view answers -->
        <div class="view-answers-wrapper row w-100 mt-3 px-5">
        {% for answer_data in question_data.answers %}
            {% if question_data.correct_answer_index == loop.index0 %}
                <div class="answer col-12 col-lg-6 d-flex align-items-center p-3">
                    <i class="far fa-question-circle icon-med correct"></i>
                    <span class="answer-text mx-2">{{ answer_data.answer_text }}</span>
                </div>
            {% else %}
                <div class="answer col-12 col-lg-6 d-flex align-items-center p-3">
                    <i class="far fa-question-circle icon-med"></i>
                    <span class="answer-text mx-2">{{ answer_data.answer_text }}</span>
                </div>
            {% endif %}
        {% endfor %}
        </div>
        <!-- show/hide answer button -->
        <div class="d-flex justify-content-center align-items-center p-3 mt-3">
            <button class="toggle-answer-button btn btn-rounded">Show answer</button>
        </div>
    </div>

</div>

{%- endmacro %}