/* ******* CARDS ******* */

.wrapper {
    >.card {
        width: 100%; // full width on small screens
        min-width: 60%;
        padding: calc(1.5rem + 2vw) calc(3rem + 2vw);
    }
}

/* quiz cards */
.quiz-cards-wrapper {
    background-color: $white;
    .quiz-cards-heading-wrapper {
        a {
            color: $persian-blue;
        }
    }
}

.quiz-cards-item {
    margin: 0 auto;
    height: 70rem;
    max-height: 40vh;
    width: 70%;
    max-width: 30rem;
    img {
        height: 70%;
    }
    .quiz-cards-text {
        height: 30%;
        h4 {
            padding: calc(1rem + .2vw) .5rem; 
        }
        span {
            font-size: calc(1rem + .2vw);
            color: $black-fade;
            padding: calc(1rem + .2vw) .5rem;
        }
    }
}