/* ******* CAROUSELS ******* */

.carousel {
    .carousel-caption {
        background-color: $dark-overlay;
        border-radius: 2rem;
        margin-bottom: 3rem;
        padding: 1.5rem;
    }
    .carousel-indicators {
        margin-bottom: 4rem;
    }
    p {
        font-size: calc(1rem + .4vw);
    }
}

.quiz-carousel {
    background-color: $white;
    .carousel-heading-wrapper {
        a {
            color: $persian-blue;
        }
    }
    .carousel {
        max-width: 35rem;
        margin: 0 auto;
    }
    .carousel-inner {
        width: 100%; // full width on small screens
        min-width: 60%;
        
    }
    .carousel-control-next,
    .carousel-control-prev {
        color: $black-fade;
        .carousel-control-next-icon,
        .carousel-control-prev-icon {
            overflow-x: visible;
        }
        .carousel-control-next-icon:after,
        .carousel-control-prev-icon:after {
            font-size: 3rem;
        }
    }
}
