/* ******* CAROUSELS ******* */

/* welcome page carousel */
.carousel {
    .carousel-caption {
        background-color: $dark-overlay;
        border-radius: 1rem;
        
        padding: 1.5rem;
    }
    .carousel-control-next-icon:after, 
    .carousel-control-prev-icon:after{
        font-size: calc(2.5rem + .75vw);
    }
    .carousel-item {
        max-height: 60rem;
    }
    h5 {
        color: $wheat;
        margin-bottom: .5rem;
    }
    p {
        font-size: calc(1rem + .8vw);
    }
}

/* quiz carousel */
.quiz-carousel {
    .carousel-item {
        .item-inner {
            margin: 0 auto;
        }
    }
    background-color: white;
    .carousel-heading-wrapper {
        a {
            color: black;
        }
    }
   
    .carousel-control-next,
    .carousel-control-prev {
        color: $black-fade;
        .carousel-control-next-icon,
        .carousel-control-prev-icon {
            overflow-x: visible;
        }
        .carousel-control-next-icon:after,
        .carousel-control-prev-icon:after {
            font-size: 3rem;
        }
    }
}
