/* ******* CAROUSELS ******* */

.carousel {
    .carousel-caption {
        background-color: $dark-overlay;
        border-radius: 2rem;
        margin-bottom: 3rem;
        padding: 1.5rem;
    }
    .carousel-indicators {
        margin-bottom: 4rem;
    }
    p {
        font-size: calc(1rem + .4vw);
    }
}
