/* ******* FOOTER ******* */

footer {
    font-family: $main;
    color: $white;
    background-color: $persian-blue;
    #footer-thdev-icon,
    #footer-logo {
        width: 2.5rem;
        height: 2.5rem;
        margin: .5rem;
    }
    #footer-thdev-icon {
        border-radius: .5rem;
    }
    a.wheat {
        color: $wheat;
    }
}