/* ******* FOOTER ******* */

footer {
    font-family: $main;
    background-color: $midnight-blue;
    .footer-inner-wrapper{
    position: relative;
    top: 6rem;
    }
    #footer-thdev-icon,
    #footer-logo {
        width: 2.5rem;
        height: 2.5rem;
        margin: .5rem;
    }
    #footer-thdev-icon {
        border-radius: .5rem;
    }
    a.wheat {
        color: $wheat;
    }
}

