/* ******* NAVBAR ******* */

.navbar {
    background-color: $persian-blue;
    .navbar-toggler {
        color: $white;
        font-size: 2.5rem;
        padding: 1rem;
    }
    #nav-logo {
        width: 4rem;
        height: 4rem;
        margin: .5rem;
    }
    #nav-logo-title {
        font-size: 2.5rem;
        color: $wheat;
        margin: .5rem;
    }
    .nav-link {
        color: $white;
        font-size: 1.4rem;
    }
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    .navbar-nav {
        align-items: center;
    }
}
 

