/* ******* NAVBAR ******* */

.navbar {
    background-color: $midnight-blue;
    .navbar-toggler {
        color: white;
        font-size: 2.5rem;
        padding: 1rem;
    }
    #nav-logo {
        width: 4rem;
        height: 4rem;
        margin: .5rem;
    }
    #nav-logo-title {
        font-size: 3rem;
        color: $wheat;
        margin: .5rem;
    }
    .nav-link {
        color: white;
    }
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    padding-right: .3rem;
    .navbar-nav {
        align-items: center;
    }
}
 

