/* ******* LANDING PAGE ******* */

/* jumbotron */
.jumbotron {
    background-color: $white;
    h1 {  
        color: $magenta;
        font-weight: 600;
    }
}

/* hero image section */
.hero-image-wrapper {
    position: relative;
    .hero-image {
        background-image: url("./../img/class-with-raised-hands-1.jpg"); 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 60vh;
    }
    .hero-caption {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 15%;
        width: 100%;
        h2 {
            padding: 3rem 6rem;
            background-color: $dark-overlay;
            border-radius: 1rem;
            color: $white;
            text-align: center;
        }
    } 
}

/* benefits section */
.benefits-wrapper {
    background-color: $white;
    border-radius: 2rem;
    .benefit{
        padding: 2rem;
        margin: 1.5rem 0;
        text-align: center;
    }
    .benefits-icon {
        padding: .5rem;
    }
    span {
        padding: 1rem;
    }
}

/* get started section */
.get-started-wrapper{
    background-color: $white;
    border-radius: 2rem;
    h2 {
        text-align: center;
        margin: 3rem 0 3rem 0;
    }
    .get-started-step {
        padding: 2rem;
        img {
            width: calc(5rem + 1vw);
            height: calc(5rem + 1vw);
        }
        .number-icon {
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
        }
        i {
            padding: 1rem;
            color: $gray;
        }
        p {
            padding: 0 1rem;
            text-align: center;
            font-size: calc(1.2rem + .8vw);
        }
    }
}

/* final cta section */
.final-cta-wrapper{
    background-color: $white;
    border-radius: 2rem;
    padding: 3rem;
    h2 {
        margin-bottom: 2rem;
    }
}
