/* ******* LANDING PAGE ******* */

.hero-image-wrapper {
    
    .hero-image {
        background-image: url("./../img/class-with-raised-hands-1.jpg"); 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 50vh;
    }
   
}