/* ******* SEARCH PAGE ******* */

.num-results {
    span {
        color: $black-fade;
        font-size: calc(1.1rem + .4vw);
    }
}

.searchbar-outline {
    min-width: 25rem;
    width: 60%;
    max-width: 40rem;
}