/* ******* WELCOME PAGE ******* */

.quizzical-icon-heading {
    margin: calc(1rem + 1vw);
}


/* hero image section */
.hero-image-wrapper {
    position: relative;
    .hero-image {
        /* CREDIT for image: https://unsplash.com/photos/4uAmz2HyPKc?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink */
        background-image: url("./../img/boy-smiling-with-pencil.jpg"); 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 45rem;
        max-height: 60rem;
    }
    .hero-caption {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 5%;
        width: 100%;
        h4 {
            padding: 3rem 6rem;
            background-color: $dark-overlay;
            border-radius: 1rem;
            text-align: center;
            color: white;
        }
    } 
}

/* benefits section */
.benefits-wrapper {
    .benefit{
        padding: 2rem;
        margin: 1.5rem 0;
        text-align: center;
        span {
            padding: 1rem;
        }
    }
}

/* get started section */
.get-started-wrapper{
    border-radius: 2rem;
    h2 {
        text-align: center;
        margin: 3rem 0 3rem 0;
    }
    .get-started-step {
        padding: 2rem;
        img {
            width: calc(5rem + 1vw);
            height: calc(5rem + 1vw);
        }
        .number-icon {
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
        }
        i {
            padding: calc(1rem + .5vw);;
            color: $gray;
        }
        p {
            padding: calc(1rem + .5vw);
            text-align: center;
            font-size: calc(1.2rem + .8vw);
        }
    }
}

/* final cta section */
.final-cta-wrapper{
    border-radius: 2rem;
    padding: 3rem;
    h2 {
        margin-bottom: 2rem;
    }
}
