<div class="p-5 container-lg text-center card">
    <h2 class="mb-3">Can't find what you're looking for?</h2>
    <h4 class="mb-4">Find, create and share engaging quizzes</h4>
    <div class="d-flex flex-align-justify flex-column mt-3">
        <a href="{{ url_for('create_quiz') }}" 
            class="btn btn-rounded btn-lg cta d-flex align-items-center"
            role="button"
        >
            Create Quiz
            <i class="fas fa-hammer icon-sm"></i>
        </a>
        {% if all_quizzes != "true" %}
        <a href="{{ url_for('search', all_quizzes='true') }}" 
            type="button" class="btn btn-link" 
            data-mdb-ripple-color="dark"
        >
            View All Quizzes
        </a>
        {% endif %}
    </div>
</div>