<!-- NAVBAR -->

<!-- CREDIT navbar: "https://mdbootstrap.com/docs/standard/navigation/navbar/" -->
<nav class="navbar fixed-top navbar-expand-md">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('default') }}" title="Quizzical | Home">
            <img 
                id="nav-logo" 
                src="{{ url_for('static', filename='img/quizzical-icon.png') }}" 
                alt="Quizzical Icon" 
                loading="lazy"
            />
            <span id="nav-logo-title">Quizzical</span>
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                {% if loggedIn == False %}
                    <a class="nav-link" href="{{ url_for('register') }}" title="Register">
                        <span class="btn cta btn-lg" role="button">Sign Up</span>
                    </a>
                    <a class="nav-link text-center" href="{{ url_for('login') }}" title="Login">Login</a>
                    <a class="nav-link text-center" href="{{ url_for('welcome') }}" title="Welcome">Welcome</a>
                {% elif loggedIn == True %}
                    <a class="nav-link" href="{{ url_for('create_quiz') }}" title="Create">
                        <span class="btn cta btn-lg" role="button">Create</span>
                    </a>
                    <a class="nav-link text-center" href="{{ url_for('discover') }}" title="Discover">Discover</a>
                    <a class="nav-link text-center" href="{{ url_for('logout') }}" title="Logout">Logout</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
