<!-- navbar -->
<!-- CREDIT navbar: "https://mdbootstrap.com/docs/standard/navigation/navbar/" -->
<nav class="navbar fixed-top navbar-expand-md">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('default') }}">
            <img 
                id="nav-logo" 
                src="{{ url_for('static', filename='img/quizzical-icon.png') }}" 
                alt="Quizzical Icon" 
                loading="lazy"
            />
            <span id="nav-logo-title">Quizzical</span>
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                {% if loggedIn == False %}
                    <a class="nav-link" href="#">
                        <button class="btn btn-rounded cta btn-nav">Sign Up</button>
                    </a>
                    <a class="nav-link text-center" href="#">Login</a>
                    <a class="nav-link text-center" href="#">Welcome</a>
                {% elif loggedIn == True %}
                    <a class="nav-link" href="#">
                        <button class="btn btn-rounded cta btn-nav">Create</button>
                    </a>
                    <a class="nav-link" href="#">
                        <button class="btn btn-rounded cta btn-nav">Discover</button>
                    </a>
                    <a class="nav-link text-center" href="#">Profile</a>
                    <a class="nav-link text-center" href="#">Help</a>
                    <a class="nav-link text-center" href="#">Logout</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
