/* ******* ALLPAGES ******* */

/* global resets */

html {
    font-size: 62.5%;
    body {
        color: #000000;
        * {
            // overflow-x: hidden;
        }
    }
}

/* fonts */

h1,h2,h3,h4,h5,h6 {
    font-family: $heading;
    margin: 0;  // remove default margin-bottom 
}
h1{
    font-size: calc(3.5rem + 1vw);
}
h2 {
    font-size: calc(3rem + .6vw);
}
h3 {
    font-size: calc(2.5rem + .4vw);
}
h4 {
    font-size: calc(2rem + .3vw);
}
h5 {
    font-size: calc(1.75rem + .3vw);
}
h6 {
    font-size: calc(1.5rem + .3vw);
}
body {
    font-family: $main;
}
a {
    font-family: $tertiary;
    font-size: calc(1.4rem + .5vw);
}
span {
    font-size: calc(1rem + .2vw);
}

/* containers */

main {
    min-height: 100vh;
    // background image from vectorstock: www.vectorstock.com/royalty-free-vector/black-seamless-background-with-question-marks-vector-30182680
    background-image: url("./../img/question-mark-background-colored.png");
    background-attachment: fixed;
    margin-top: 6.663rem;
    padding-bottom: 8rem;

    .flashed-messages {
        h4 {
            margin-bottom: 0;
        }
    }
}

.main-inner-wrapper {
    position: relative;
    top: 6rem;

    .container,
    .container-sm,
    .container-lg {
        background-color: $white;
}
}



/*** mixins as classes ***/

.flex-align-justify {
        @include flex-align-justify();
    }