/* ******* BUTTONS ******* */

.btn {
    padding: .75rem 1.25rem;
    border-radius: .5rem;
    font-size: calc(1.1rem + .6vw);
    margin: .25rem;
    font-family: $tertiary;
    line-height: initial; 
    white-space: nowrap;  
    text-transform: uppercase;
    
    // &.btn-search {
    //     padding: 0.6rem 1rem 0.6rem 1rem;
    // }
    &.cta {
        background-color: $mandarin;  
        color: $midnight-blue; 
    }
    &.btn-lg {
        font-size: calc(1.2rem + .8vw);
    }
   
    &.btn-secondary{
        background-color: white;
        color: $steel-blue;
    }
    .icon-sm,
    .icon-md{
        font-size: inherit;
    }
}

