/* ******* BUTTONS ******* */

.btn {
    padding: .5rem 1rem;
    font-size: calc(1rem + .4vw);
    font-family: $tertiary;
    line-height: initial; 
    white-space: nowrap;  
    &.btn-link {
        font-size: calc(0.8rem + .2vw);
    } 
    &.btn-search {
        padding: 0.6rem 1rem 0.6rem 1rem;
    }
    &.cta {
        text-transform: uppercase; 
        background-color: $magenta;   
        color: $white;
        &.btn-lg {
            font-size: calc(1.2rem + .5vw);
            padding: .75rem 1.5rem;
            margin: .5rem;
        }
        &.btn-nav {
            font-size: calc(1rem + .4vw);
            padding: .75rem 1.5rem;
            margin: .25rem;
        }
    }
}
