/* ******* BUTTONS ******* */

.btn {
    padding: .6rem 1.1rem;
    border-radius: .5rem;
    font-size: calc(1.1rem + .3vw);
    margin: .25rem;
    font-family: $tertiary;
    line-height: initial; 
    white-space: nowrap;  
    text-transform: uppercase;
    .icon-sm {
        padding: .25rem 0 0 0;
    }
    &.btn-search {
        padding: 0.7rem 1.1rem;
    }
    &.footer-link{
        color: white;
        padding: 0.2rem 0.8rem 0.4rem 0.8rem
    }
    &.cta {
        background-color: $mandarin;  
        color: $midnight-blue; 
    }
    &.btn-lg {
        font-size: calc(1.25rem + .5vw);
        padding: calc(.8rem + .3vw) calc(1.3rem + .3vw);
    }
   
    &.btn-secondary{
        background-color: white;
        color: $steel-blue;
    }
    &.delete {
        color: $error;
    }
    .icon-sm,
    .icon-md{
        font-size: inherit;
    }
}

