/* ******* FONTS ******* */

/* all pages fonts */

h1,h2,h3,h4,h5,h6 {
    font-family: $heading;
}

h1{
    font-size: calc(3.5rem + 1vw);
}

h2 {
    font-size: calc(2.5rem + .6vw);
}

h3 {
    font-size: calc(2rem + .4vw);
}

body {
    font-family: $main;
}

a {
    font-family: $tertiary;
}

footer {
    font-family: $main;
    color: $white;
}


/* landing page fonts */

.jumbotron {
    font-family: $heading;
    h1 {  
        color: $magenta;
        font-weight: 600;
    }
    h4 {
        font-size: 2.5rem;
    }
    a {
        font-size: 1.4rem;
    }
}

.hero-caption {
    h2 {
        color: $white;
        font-family: $heading;
        text-align: center;
    }
}

.benefits-wrapper {
    .benefit {
        span {
            font-size: calc(1.2rem + .8vw)
        }
    }
    .benefits-icon {
        font-size: calc(3.5rem + .8vw);
    }
}

.carousel {
    p {
        font-size: calc(1rem + .4vw)
    }
}

.get-started-step {
    i {
        font-size: calc(3.5rem + .8vw);
    }
    p {
        font-size: calc(1.2rem + .8vw)
    }
}

