/* ******* MEDIA QUERIES ******* */

/* small screen sizes and above */
@media screen and (min-width: 576px) {
    /* add border radius and box shadow */
    .main-heading {
        @include container-box-shadow();
    }
    .benefits-wrapper {
        .benefit {
            max-width: 60%;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
    }
}

/* medium screen sizes and above */
@media screen and (min-width: 768px) {
    .main-heading{
        h1 {
            font-size: 5rem;
        }
    }

    .get-started-wrapper {
        .get-started-step {
            p {
                text-align: justify;
            }
        }
    }

    .login-wrapper,.register-wrapper {
        .card {
            width: fit-content;
        }
    }
    
}

/* large screen sizes and above */
@media screen and (min-width: 992px) {
    .hero-image-wrapper {
        /* add border radius */
        .hero-image {
            border-radius: 2rem;
        }
    }
    .carousel {
        .carousel-inner{
            border-radius: 2rem;
        }
    }

    .benefits-wrapper {
        border-radius: 2rem;
        .benefit {
            padding: 3rem;
        }
    }

    .get-started-wrapper {
        .get-started-step {
            p {
                text-align: center;
            }
        }
    }
  
}