/* ******* VARIABLES ******* */

/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Oswald:wght@200;300;400;500&family=Raleway:wght@300;400;500;600&display=swap');


/* COLOR VARIABLES */
$black-fade: rgba(0,0,0,.5);
$dark-overlay: rgba(0,0,0,.5);
$light-overlay: rgba(255, 255, 255, 0.5);
$gray: #E0E0E0;
$midnight-blue: #1C0D5E;
$middle-blue: #80CED7;
$middle-blue-translucent: rgba(127, 206, 215, 0.7);
$steel-blue: #4F8BD9;
$wheat: #FADCB2;
$mandarin: #FC814A;
$wheat-translucent: rgba(250, 220, 178, 0.7);


$bright-green: #66ff00;
$incorrect-red: #ff0000;
/* warning color palette used for flash message backgrounds
CREDIT: https://www.color-hex.com/color-palette/23357 */
$error: #cc3300;
$invalid-action: #ff9966;
$not-auth: #ffcc00;
$success: #99cc33;



/* FONT VARIABLES */
$heading: 'Raleway', sans-serif;
$main: 'Open Sans', sans-serif;
$tertiary: 'Oswald', sans-serif;