/* ******* VARIABLES ******* */

/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Oswald:wght@200;300;400;500&family=Raleway:wght@300;400;500;600&display=swap');


/* COLOR VARIABLES */
$black: #000000;
$magenta: #C60F7B;
$persian-blue: #0839D9;
$middle-blue: #80CED7;
$wheat: #FADCB2;
$wheat-translucent: rgba(250, 220, 178, 0.7);
$middle-blue-translucent: rgba(127, 206, 215, 0.7);
$gray: #E0E0E0;
$white: #FFFFFF;  
$dark-overlay: rgba(0,0,0,.4);


/* FONT VARIABLES */
$heading: 'Raleway', sans-serif;
$main: 'Open Sans', sans-serif;
$tertiary: 'Oswald', sans-serif;